<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.riot.web.mapper.WebMapper">

	<select id="selectWebMatchList" parameterType="com.springboot.riot.api.contents.common.dto.MatchSearchDto" resultType="com.springboot.riot.api.contents.common.vo.CommonMatchVo">
		SELECT A.*
		FROM (
		SELECT
		SM_INFO.PUUID
		, S_INFO.ACCOUNT_ID
		, S_INFO.ACTIVITY_NM
		, S_INFO.ACTIVITY_KOR_NM
		, ST_INFO.CLASS AS CLASSIFICATION
		, C_C1.CODE_NM AS CLASSIFICATION_NM
		, S_INFO.TEAM_SEQ
		, ST_INFO.TEAM_NM
		, ST_INFO.TEAM_KOR_NM
		, S_INFO.LANE AS MOST_LANE
		, C_C2.CODE_NM AS MOST_LANE_NM
		, MP_INFO.SUMMONER_ID
		, MP_INFO.SUMMONER_LEVEL
		, MP_INFO.SUMMONER_NAME
		, S_INFO.USER_NAME
		, M_BASIC.MATCH_ID
		, M_BASIC.QUEUE_ID
		, M_BASIC.PLATFORM_ID
		, M_BASIC.GAME_ID
		, M_BASIC.GAME_CREATION
		, M_BASIC.GAME_DURATION
		, M_BASIC.GAME_START_TIMESTAMP
		, M_BASIC.GAME_END_TIMESTAMP
		, M_BASIC.GAME_VERSION
		, MP_INFO.CHAMPION_ID
		, MP_INFO.PARTICIPANT_ID
		, MP_INFO.TEAM_ID
		, MP_INFO.WIN
		, MP_INFO.KILLS
		, MP_INFO.DEATHS
		, MP_INFO.ASSISTS
		, MP_INFO.ITEM0
		, MP_INFO.ITEM1
		, MP_INFO.ITEM2
		, MP_INFO.ITEM3
		, MP_INFO.ITEM4
		, MP_INFO.ITEM5
		, MP_INFO.ITEM6
		, MP_INFO.DOUBLE_KILLS
		, MP_INFO.TRIPLE_KILLS
		, MP_INFO.QUADRA_KILLS
		, MP_INFO.PENTA_KILLS
		, MP_INFO.UNREAL_KILLS
		, MP_INFO.VISION_WARDS_BOUGHT_IN_GAME
		, MP_INFO.SUMMONER1_ID
		, MP_INFO.SUMMONER1_CASTS
		, MP_INFO.SUMMONER2_ID
		, MP_INFO.SUMMONER2_CASTS
		, MP_INFO.SPELL1_CASTS
		, MP_INFO.SPELL2_CASTS
		, MP_INFO.SPELL3_CASTS
		, MP_INFO.SPELL4_CASTS
		, MP_INFO.TOTAL_MINIONS_KILLED
		FROM SUMMONER_MATCH_INFO_V5 SM_INFO
		JOIN SUMMONER_INFO S_INFO
		ON SM_INFO.PUUID = S_INFO.PUUID
		JOIN SUMMONER_TEAM_INFO ST_INFO
		ON   S_INFO.TEAM_SEQ = ST_INFO.TEAM_SEQ
		JOIN MATCH_BASIC_V5 M_BASIC
		ON   SM_INFO.MATCH_ID = M_BASIC.MATCH_ID
		JOIN MATCH_PARTICIPANT_INFO_V5 MP_INFO
		ON   SM_INFO.MATCH_ID = MP_INFO.MATCH_ID
		AND  SM_INFO.PUUID = MP_INFO.PUUID
		LEFT JOIN COMMON_CODE C_C1
		ON   ST_INFO.CLASS = C_C1.CODE AND C_C1.CODE_GROUP_SEQ = 1
		LEFT JOIN COMMON_CODE C_C2
		ON   C_C2.CODE = S_INFO.LANE AND C_C2.CODE_GROUP_SEQ = 2
		ORDER BY M_BASIC.GAME_START_TIMESTAMP DESC, LPAD(M_BASIC.GAME_DURATION,'4','0')
		) A
		<choose>
			<when test="nextCursor != 0">
				WHERE A.NEXT_CURSOR <![CDATA[<]]> #{nextCursor}
			</when>
		</choose>
		LIMIT #{listSize}
	</select>
</mapper>
