<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.riot.api.contents.common.mapper.CommonMapper">

	<select id="selectCommonMatchList" parameterType="com.springboot.riot.api.contents.common.dto.MatchSearchDto" resultType="com.springboot.riot.api.contents.common.vo.CommonMatchVo">
		SELECT A.*
		FROM (
		SELECT
			SM_INFO.ACCOUNT_ID
			, S_I.ACTIVITY_NM
			, S_I.ACTIVITY_KOR_NM
			, ST_I.CLASS AS CLASSIFICATION
			, C_C_1.CODE_NM AS CLASSIFICATION_NM
			, S_I.TEAM_SEQ
			, ST_I.TEAM_NM
			, ST_I.TEAM_KOR_NM
			, S_I.LANE AS MOST_LANE
			, S_I.USER_NAME
			, SM_INFO.GAME_ID
			, SM_INFO.PLATFORM_ID
			, SM_INFO.CHAMPION
			, SM_INFO.QUEUE
			, SM_INFO.SEASON
			, ROUND(SM_INFO.TIME_STAMP / 1000) AS TIME_STAMP
			, SM_INFO.LANE
			, SM_INFO.ENEMY_CHAMPION
			, M_B.GAME_DURATION
			, MP_BASIC.SPELL1_ID
			, MP_BASIC.SPELL2_ID
			, MP_BASIC.TEAM_ID
			, MP_STATS.PARTICIPANT_ID
			, MP_STATS.WIN
			, MP_STATS.KILLS
			, MP_STATS.DEATHS
			, MP_STATS.ASSISTS
			, MP_STATS.ITEM_0
			, MP_STATS.ITEM_1
			, MP_STATS.ITEM_2
			, MP_STATS.ITEM_3
			, MP_STATS.ITEM_4
			, MP_STATS.ITEM_5
			, MP_STATS.ITEM_6
			, concat(SM_INFO.GAME_ID,LPAD(SM_INFO.CHAMPION,'4','0'),LPAD(MP_STATS.ITEM_0,'4','0')) AS NEXT_CURSOR
		FROM SUMMONER_MATCH_INFO SM_INFO
		JOIN SUMMONER_INFO S_I
		ON   SM_INFO.ACCOUNT_ID = S_I.ACCOUNT_ID
		JOIN SUMMONER_TEAM_INFO ST_I
		ON   S_I.TEAM_SEQ = ST_I.TEAM_SEQ
		JOIN MATCH_BASIC M_B
		ON   SM_INFO.GAME_ID = M_B.GAME_ID
		JOIN MATCH_PARTICIPANT_INFO MP_INFO
		ON   SM_INFO.GAME_ID = MP_INFO.GAME_ID
		AND  SM_INFO.ACCOUNT_ID = MP_INFO.ACCOUNT_ID
		JOIN MATCH_PARTICIPANT_STATS MP_STATS
		ON   SM_INFO.GAME_ID = MP_STATS.GAME_ID
		AND  MP_STATS.PARTICIPANT_ID = MP_INFO.PARTICIPANT_ID
		JOIN MATCH_PARTICIPANT_BASIC MP_BASIC
		ON   SM_INFO.GAME_ID = MP_BASIC.GAME_ID
		AND  MP_BASIC.PARTICIPANT_ID = MP_INFO.PARTICIPANT_ID
		JOIN COMMON_CODE C_C_1
		ON   ST_I.CLASS = C_C_1.CODE
		AND  C_C_1.CODE_GROUP_SEQ = 1
		ORDER BY SM_INFO.GAME_ID DESC, SM_INFO.CHAMPION, MP_STATS.ITEM_0
		) A
		<choose>
			<when test="nextCursor != 0">
				WHERE A.NEXT_CURSOR <![CDATA[<]]> #{nextCursor}
			</when>
		</choose>
		LIMIT #{listSize}
	</select>

	<select id="selectCommonItemList" resultType="com.springboot.riot.api.contents.common.vo.CommonItemVo">
		SELECT I_B.I_KEY
			, I_B.I_NAME
			, I_B.DESCRIPTION
			, I_B.COLLOQ
			, I_B.PLAINTEXT
			, I_G.BASE
			, I_G.PURCHASABLE
			, I_G.TOTAL
			, I_G.SELL
			, I_I.I_FULL
		FROM ITEM_BASIC I_B
		JOIN ITEM_GOLD I_G ON I_B.I_KEY = I_G.I_KEY
		JOIN ITEM_IMAGE I_I ON I_B.I_KEY = I_I.I_KEY
	</select>

	<select id="selectCommonChampionList" resultType="com.springboot.riot.api.contents.common.vo.CommonChampionVo">
		SELECT C_B.C_KEY
			, C_B.ID
			, C_B.C_NAME
			, C_B.TITLE
			, C_B.BLURB
			, C_B.PAR_TYPE
			, C_I.C_FULL
		FROM CHAMPION_BASIC C_B
		JOIN CHAMPION_IMAGE C_I ON C_B.C_KEY = C_I.C_KEY
	</select>

	<select id="selectCommonSummonerSpellsList" resultType="com.springboot.riot.api.contents.common.vo.CommonSummonerSpellsVo">
		SELECT SS_B.S_KEY
			, SS_B.ID
			, SS_B.S_NAME
			, SS_B.DESCRIPTION
			, SS_I.S_FULL
		FROM SUMMONER_SPELLS_BASIC SS_B
		JOIN SUMMONER_SPELLS_IMAGE SS_I
		ON   SS_B.S_KEY = SS_I.S_KEY
		ORDER BY SS_B.S_KEY
	</select>

</mapper>
